//- Custom Configuration
block config
  //- Setup site's base URL to match the "baseUrl" key within `package.json`
  //- Otherwise default to relative pathing
  - var baseUrl = config.baseUrl || './'

doctype html

<!--[if lt IE 9]>
<html class='lt-ie9 no-js' lang='fr'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class='no-js' lang='fr'>
<!--<![endif]-->

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  block head
  meta(name='description', content= 'Page Digital & You avec Yeogurt')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  block stylesheets
    link(rel='stylesheet', href= baseUrl + 'styles/main.css')

body
  <!--[if lt IE 9]>
  <p class='browsehappy'>Votre navigateur est <strong>obsol&egrave;te</strong>. Veuillez <a href='http://browsehappy.com/'>mettre &agrave; jour votre navigateur</a> pour une meilleure exp&eacute;rience.</p>
  <![endif]-->

  block content

  block scripts
    script(src= baseUrl + 'scripts/main.js')

</html>
